<p id="notice"><%= notice %></p>

<h1>Merchandises</h1>


    <% @merchandises.each do |merchandise| %>
        <p><%= merchandise.name %> |
        <%= number_to_currency merchandise.price %> |
        <%= merchandise.details %>

        <%= form_for @order_item do |form| %>
        <%= form.hidden_field :merchandise_id, value: merchandise.id %>
        <%= form.number_field :quantity %>
        <%= form.submit "Add to Cart" %>
        <% end %></p>

 

        <%= link_to 'Show', merchandise %>
        <%= link_to 'Edit', edit_merchandise_path(merchandise) %>
       <%= link_to 'Destroy', merchandise, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%= link_to 'New Merchandise', new_merchandise_path %>
