<%= form_with(model: subscriptionpayment, local: true) do |form| %>
  <% if subscriptionpayment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscriptionpayment.errors.count, "error") %> prohibited this subscriptionpayment from being saved:</h2>

      <ul>
        <% subscriptionpayment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id %>
  </div>

  <div class="field">
    <%= form.label :subplans_id %>
    <%= form.text_field :subplans_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
