<p id="notice"><%= notice %></p>

<h1>Subscriptionpayments</h1>

<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Subplans</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptionpayments.each do |subscriptionpayment| %>
      <tr>
        <td><%= subscriptionpayment.users_id %></td>
        <td><%= subscriptionpayment.subplans_id %></td>
        <td><%= link_to 'Show', subscriptionpayment %></td>
        <td><%= link_to 'Edit', edit_subscriptionpayment_path(subscriptionpayment) %></td>
        <td><%= link_to 'Destroy', subscriptionpayment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriptionpayment', new_subscriptionpayment_path %>
