<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @subscriptionpayment.users_id %>
</p>

<p>
  <strong>Subplans:</strong>
  <%= @subscriptionpayment.subplans_id %>
</p>

<%= link_to 'Edit', edit_subscriptionpayment_path(@subscriptionpayment) %> |
<%= link_to 'Back', subscriptionpayments_path %>
