<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @merchpayment.users_id %>
</p>

<p>
  <strong>Merchorders:</strong>
  <%= @merchpayment.merchorders_id %>
</p>

<%= link_to 'Edit', edit_merchpayment_path(@merchpayment) %> |
<%= link_to 'Back', merchpayments_path %>
