<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Director %>
    <%= form.text_field :Director %>
  </div>

  <div class="field">
    <%= form.label :Duration %>
    <%= form.text_field :Duration %>
  </div>

  <div class="field">
    <%= form.label :Genre %>
    <%= form.text_field :Genre %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="field">
    <%= form.label :imdbscore %>
    <%= form.text_field :imdbscore %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
