
<h1>Movies</h1>

<div id='mapid'></div>

<script type="text/javascript">
$(function () {
var mymap = L.map('mapid').setView([54.202617,13.064385], 1.5);
var mp = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	maxZoom: 18,
	id: 'mapbox.streets',
	accessToken: 'pk.eyJ1Ijoia3Jpc2t1d3JoZml1Z3c0IiwiYSI6ImNrMTN6bHVrNTBjeHMzbW05NHhxcnB6cnQifQ.48UHWbqqoPuuS97OUAPPyg'
}).addTo(mymap);

var centre = (<%= @centroids.to_json.html_safe %>);

L.geoJSON(centre, {    
	pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng);
	}
}).addTo(mymap);


});

</script>

<%= form_tag(movies_path, method: :get) do%>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search")%>
<% end %>

<% @flist.each do |mov|%>
<li><%= link_to mov.Title, movies_path(mov) %></li>
<% hold = mov.Genre %>
<% h = hold.split(/[\|]/) %>
<% h.each do |genres|%>
<%=  link_to genres, movies_path(genres, params[:genresearch]) %>
<% end %>
<%= mov.imdbscore %>
<%= link_to 'Show', mov %>

<%end%>

<p id="notice"><%= notice %></p>


<%
=begin%>
 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Imdbscore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.Title %></td>
        <td><%= movie.Director %></td>
        <td><%= movie.Duration %></td>
        <td><%= movie.Genre %></td>
        <td><%= movie.Year %></td>
        <td><%= movie.imdbscore %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Watch', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%
=end%>

<br>

<%= link_to 'New Movie', new_movie_path %>
