
<h1>Movies</h1>

<div id='mapid'></div>

<script type="text/javascript">
$(function () {
var mymap = L.map('mapid').setView([54.202617,13.064385], 1.5);
var mp = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	maxZoom: 18,
	id: 'mapbox.streets',
	accessToken: 'pk.eyJ1Ijoia3Jpc2t1d3JoZml1Z3c0IiwiYSI6ImNrMTN6bHVrNTBjeHMzbW05NHhxcnB6cnQifQ.48UHWbqqoPuuS97OUAPPyg'
}).addTo(mymap);

var centre = (<%= @centroids.to_json.html_safe %>);

L.geoJSON(centre, {    
	pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng);
	}
}).addTo(mymap);
});

</script>

<%= form_tag(movies_path, method: :get) do%>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search")%>
<% end %>

<% @flist.each do |mov|%> 
<li><%= link_to mov.Title, movies_path(mov) %></li>
<% hold = mov.Genre %>
<% @h = hold.split(/[\|]/) %>
<% @h.each do |genres|%>
<%= link_to genres, genre_index_path(:genresearch => genres.to_s) %>
<% end %> 
<%=  mov.imdbscore %> 
<%=  mov.Director %> 
<%
=begin%>
 <% hold2 = mov.keywords %>
<% if hold2 == true %>
<% @h2 = hold2.split(/[\|]/) %>
<% else  %>
<% @h2 = "" %>
<% end %>
<% @h2.each do |keywords|%>
<%= link_to keywords, movies_path(:keywordsearch => keywords.to_s) %>
<% end %>  
<%
=end%>

<%= link_to 'See Details', mov %>


<%end%>


<p id="notice"><%= notice %></p>

<br>
