<p id="notice"><%= notice %></p>

<h1>screen to be added</h1>

<p>
  <strong>Title:</strong>
  <%= @movie.Title %>
</p>

<p>
<strong>Production Country: </strong>
<%= @movie.productioncountry %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.Director %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.Duration %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.Genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.Year %>
</p>

<p>
  <strong>Imdbscore:</strong>
  <%= @movie.imdbscore %>
</p>

<p>
  <strong>Age Rating:</strong>
  <%= @movie.contentrating %>
</p>

<p>
  <strong>Feature Actors:</strong>
  <%= @movie.actor1 %>
  <%= @movie.actor2 %>
</p>

<p>
  <strong>Keyword Description:</strong>
  <%= @movie.keywords %>
</p>

<%= link_to 'Back', movies_path %>
<%= link_to 'Like', new_movieswatched_path(:seenit => @movie.id) %>
<%= link_to 'Buy The Poster', merchandise_url %>




