<h1>Welcome, Admin</h1>

<div id="wrapper">
<div id='container'></div>
<div id='container2'></div>
</div>
<div>
<%= link_to 'View Current User Accounts', users_path %>
</div>
<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Order number</th>
      <th>Total of Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirmed_orders.each do |order_item| %>
      <tr>
        <td><%= order_item.user.f_name %></td>
        <td><%= order_item.order.id %></td>
        <td><%= order_item.order.total_price %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>




<script type="text/javascript">

$(function () {
    var myChart = Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Most Liked Movies (max 20)'
    },
    
    xAxis: {
        categories: <%= raw @movies_title %>,
        tickmarkPlacement: 'on',
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Ammount of likes (various users)' 
        },
        tickInterval: 1
    },
    tooltip: {
        split: true,
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        }
    },
    series: [{
        name: <%= raw @movies_title %>,
        data: <%= raw @likes %>

     }]
});
});
</script>


<script type="text/javascript">
$(function () {
    

        var chart = Highcharts.chart('container2', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Weekly Confirmed Orders'
            },
            xAxis: {
                categories: <%= raw @orderdate %>
            },
            yAxis: {
                title: {
                    text: 'Total Payents (currency = $(US))'
                },
                tickInterval: 0.01
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: <%= raw @orderdate %>,
                data: <%= raw @qtty %>
            }]
        });
    });
</script>
