
<% if @current_user.eql?(@user) %>
<table><h2>Recommended Movies for <%= @user.f_name %>:</h2>
  <tr>
    <th>Movie</th>
  </tr>
  <% @user.recommend_movies.each do |key, value| %>
  <tr>
    <td><%= link_to key.Title, key %></td>
  </tr>
  <% end %>
</table>
<% end %>

<p>
</p>

<p>
  <%= link_to 'My Cart', cart_path %>
</p>

<strong>My Orders</strong>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Order number</th>
      <th>Total of Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirmed_orders.each do |order_item| %>
    <% next if order_item.user.id != current_user.id %>
      <tr>
        <td><%= order_item.user.f_name %></td>
        <td><%= order_item.order.id %></td>
        <td><%= order_item.order.total_price %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>F name:</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @user.l_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>



