
<% if @current_user.eql?(@user) %>
<table><h2>Recommended Movies for <%= @user.f_name %>:</h2>
  <tr>
    <th>Movie</th>
  </tr>
  <% @user.recommend_movies.each do |key, value| %>
  <tr>
    <td><%= link_to key.Title, key %></td>
  </tr>
  <% end %>
</table>

<p>
</p>

<p>
  <%= link_to 'My Cart', cart_path %>
</p>

<strong>My Orders</strong>
<% if @confirmed_orders.any? %>
  <% @confirmed_orders.each do |item| %>
    <p><%= item.user.f_name %></p> | 
    <p><%= item.order.id %></p> 
    <p><%= item.order.total_price %></p>
  <% end %>
<% else %>
  <p>No Orders</p>
<% end %>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>F name:</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @user.l_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<% else %>
<%= flash[:notice] = "you dont have access" %>

<% end %>