<p id="notice"><%= notice %></p>


<table><h2>Recommended Movies for <%= @user.f_name %>:</h2>
  <tr>
    <th>Movie</th>
    <th>Rating</th>
  </tr>
  <% @user.recommend_movies.each do |key, value| %>
  <tr>
    <td><%= link_to key.Title, key %></td>
    <td><%= value.round(2) %></td>
  </tr>
  <% end %>
</table>

<p>
  <%= link_to 'My Cart', cart_path %>
</p>
<p>
  <%= link_to 'My Orders', order_items_path %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>F name:</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @user.l_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
