<%= form_with(model: creditcard, local: true) do |form| %>
  <% if creditcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creditcard.errors.count, "error") %> prohibited this creditcard from being saved:</h2>

      <ul>
        <% creditcard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :expdate %>
    <%= form.text_field :expdate %>
  </div>

  <div class="field">
    <%= form.label :nameoncard %>
    <%= form.text_field :nameoncard %>
  </div>

  <div class="field">
    <%= form.label :organisationtype %>
    <%= form.text_field :organisationtype %>
  </div>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
