<p id="notice"><%= notice %></p>

<h1>Subplans</h1>

<table>
  <thead>
    <tr>
      <th>Plantype</th>
      <th>Recurring</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subplans.each do |subplan| %>
      <tr>
        <td><%= subplan.plantype %></td>
        <td><%= subplan.recurring %></td>
        <td><%= link_to 'Show', subplan %></td>
        <td><%= link_to 'Edit', edit_subplan_path(subplan) %></td>
        <td><%= link_to 'Destroy', subplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subplan', new_subplan_path %>
